{% extends 'base_layout.html' %}

<!-- SIDE NAV BAR-->

{% block content %}

<div class="con">
  <h5 style="padding-left: 150px">
    For accurate result please fill the following data correctly.
  </h5>

  <br />

  <div style="width: 70%" class="row">
    <form class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.age }}
          <label for="a1">Age</label>
          <span class="helper-text">Enter your age here</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.sex }}
          <label for="a2">Sex</label>
          <span class="helper-text"
            >Enter your sex here (Male=0 , Female=1)</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.cp }}
          <label for="a3">CP</label>
          <span class="helper-text"
            >Enter your Constructive Pericarditis here</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.trestbps }}
          <label for="a4">Trestbps</label>
          <span class="helper-text"
            >Enter your Resting Blood Pressure here</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.chol }}
          <label for="a5">Chol</label>
          <span class="helper-text">Enter your Cholesterol here</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.fbs }}
          <label for="a6">Fbs</label>
          <span class="helper-text">Enter your Fasting Blood Sugar here</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.restcg }}
          <label for="a7">Restecg</label>
          <span class="helper-text"
            >Enter your Resting Electrocardiographic Result here</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.thalach }}
          <label for="a8">Thalach</label>
          <span class="helper-text"
            >Enter your Maximum Heart Rate Achieved here</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.exang }}
          <label for="a9">Exang</label>
          <span class="helper-text"
            >Enter your Exercise Induced Angina here</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.oldpeak }}
          <label for="a10">Oldpeak</label>
          <span class="helper-text"
            >Enter your Exercise Relative to Rest here</span
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.slope }}
          <label for="a11">Slope</label>
          <span class="helper-text">Enter your Segment/Heart Rate here</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.ca }}
          <label for="a12">Ca</label>
          <span class="helper-text">Enter your Ca here</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">directions</i>
          {{ form.thal }}
          <label for="a13">Thal</label>
          <span class="helper-text">Enter your Thalassemia here</span>
        </div>
      </div>

      {% csrf_token %}
      <button
        class="black btn waves-effect waves-light"
        type="submit"
        name="action"
      >
        Test Now
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
<br />
<br />
{% endblock %}

<!-- footer -->
